/* @override http://merrow.com/cephei/css/css_major/onestore_foragents.css */

/* @override 
	http://merrow.com/cephei/css/css_major/aos-layout.css
	http://merrow.com/cephei/css/css_major/onestore_foragents.css
*/

h1.instn {
	padding: 8px 0 17px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #000;
}

/* ------- Modules ------- */
/* All modules */
.module {
	margin-bottom: 8px;
}
form#form {
	display: inline;
	padding-left: 12px;
}

select#jumpMenu {
}
/* module top */

div#names.big {
	color: #000;
	position: relative;
	top: 10px;
	text-align: center;
	line-height: 1em;
	font-size: 18px;
	font-weight: bold;
}
.module_top {
	float: left;
	width: 100%;
	height: 4px;
	background: url(http://images.imerrow.com/images/machines/primary-top.png) no-repeat;
	line-height: 4px;
}
/* module h2 - if these are used, don't use module_top */
.module h2,
#secondary .module .modulecontent .list_head h2,
#secondary .module .modulecontent .list_head h2 {
	float: left;
	width: 100%;
	padding: 5px 0 0;
	background-repeat: no-repeat;
}
.full .module h2 {
	background: url(http://images.imerrow.com/images/machines/primary-full-h2-top.png) no-repeat;
}
#primary_main .module h2 {
	background-repeat: no-repeat;
}
#navigation .module h2,
#secondary .module h2,
#navigation .module .modulecontent .list_head h2,
#secondary .module .modulecontent .list_head h2 {
	background: url(http://images.imerrow.com/images/agent_primary-h2-top.png) no-repeat;
	overflow: hidden;
}
#primary_main .footerblock h2 {
	background-image: url(http://images.imerrow.com/images/machines/primary_main-fb-h2-top.png);
}
#navigation .footerblock h2,
#secondary .footerblock h2 {
	background-image: url(http://images.imerrow.com/images/machines/column-fb-h2-top.png);
}
.module h2 span {
	display: block;
	padding: 0 0 5px 12px;
	background: #2d5e9f url(http://images.imerrow.com/images/agent_h2.png) repeat-x;
	font-weight: bold;
	font-size: 13px;
	line-height: 14px;
	color: #fff;
	text-shadow: 1px 1px 1px #224272;
}
.module table td h2 span {
	background: none;
	padding: 0;
}
#primary_main .footerblock h2 span,
#navigation .footerblock h2 span,
#secondary .footerblock h2 span {
	background: #afb0b2 url(http://images.imerrow.com/images/machines/fb-h2.png) repeat-x;
	text-shadow: 1px 1px 1px #999;
}
#navigation .module h2 span,
#secondary .module h2 span {
	margin-right: 1px;
}
.module h2 span a {
	display: block;
	color: #fff;
}
#navigation .module h2 span a:hover {
	text-decoration: none;
}

#primary_main .modulecontent #store_details h2,
#navigation .module .modulecontent h2,
#secondary .module .modulecontent h2,
#navigation .footerblock .modulecontent .list_head h2,
#secondary .footerblock .modulecontent .list_head h2 {
	padding: 0 12px .25em;
	font-weight: bold;
	font-size: 12px;
	color: #333;
}
#navigation .footerblock .modulecontent h2,
#secondary .footerblock .modulecontent h2 {
	padding-top: 16px;
}
#navigation .footerblock .modulecontent h3,
#secondary .footerblock .modulecontent h3 {
	padding-top: 16px;
	padding-left: 14px;
	padding-bottom: 0;
	float: none;
	width: auto;
}
#primary_main .footerblock #store_details h2 {
	padding-left: 0;
	padding-right: 0;
}

/* Translation section (multi-language stores)  */
#navigation .module ul#shopdetails {
	border-top: 1px solid #ccc;
	margin-bottom: 0;
	padding-top: 6px;
}
#shopdetails strong {
	display: block;
	font-size: 14px;
}

/* module content */
.modulecontent {
	display: inline;
	float: left;
	width: 100%;
	padding: 8px 0;
	background: url(http://images.imerrow.com/images/machines/primary-bg.png) repeat-y;
}

#breadcrumb { text-align:center; font-size:10px; color:#686868;
	margin-left: auto;
	margin-right: auto;
}

/*2 column module content*/
/*Left column*/
.module .module-primary,
.product-details .product-info,
.product-details .product-overview,
.product-details .product-overview-full {
	color: #333;
	display: inline;
	float: left;
	line-height: 1.4em;
	margin: 0 25px;
	width: 575px;
}
/*Right column*/
.module .module-secondary {
	float: left;
	margin: 0 0 0 5px;
	width: 145px;
}

.sub-department #primary .modulecontent,
.category #primary .modulecontent {
	padding: 0;
	background: url(http://images.imerrow.com/images/machines/primary-bg.png) repeat-y;
}
.full .modulecontent {
	background: url(http://images.imerrow.com/images/machines/primary-full-bg.png) repeat-y;
}

.full-gradient .module_top  {
	background: url(http://images.imerrow.com/images/machines/primary-full-bg-gradient.gif) top left no-repeat;
}

.family .full-gradient .modulecontent  {
	background: url(http://images.imerrow.com/images/machines/primary-full-bg-gradient.gif) bottom left no-repeat;
	padding-bottom: 10px;
	margin-bottom: 8px;
}

#primary_main .modulecontent {
	background: url(http://images.imerrow.com/images/machines/primary_main-bg.png) repeat-y;
}
#navigation .modulecontent,
#secondary .modulecontent {
	padding: 0;
	background: url(http://images.imerrow.com/images/machines/column-bg.png) repeat-y;
}
#navigation .list .modulecontent,
#secondary .list .modulecontent {
	background: none;
}
body #navigation .list_content {
	padding-top: 2px;
}
body #navigation #popularaccessories .list_content {
	padding-top: 5px;
}
.list_content,
.list_foot {
	float: left;
	width: 100%;
	background: url(http://images.imerrow.com/images/machines/column-bg.png) repeat-y;
}

body #navigation #popularaccessories .list_foot {
	padding-bottom: 9px;
}
#morestores .list_content {
	background: none;
}
#secondary #topsellers .list_content {
	padding: 4px 0 0;
}
#navigation .footerblock .modulecontent .list_content,
#secondary .footerblock .modulecontent .list_content {
	background: none;
	padding-bottom: 1em;
}
#navigation #shop .modulecontent,
#secondary #newtothestore .modulecontent .list_content {
	background: url(http://images.imerrow.com/images/machines/column-bg-grad.png) no-repeat;
}
.home #secondary #newtothestore .list_content {
	min-height: 302px;
}
.department #secondary #newtothestore .modulecontent .list_content {
	background: url(http://images.imerrow.com/images/machines/column-bg.png) repeat-y;
}
.department #navigation #shop .modulecontent,
.sub-department #navigation #shop .modulecontent,
.category #navigation #shop .modulecontent,
.product-details #navigation #shop .modulecontent,
.search-results #navigation #shop .modulecontent {
	padding-bottom: 8px;
	background: url(http://images.imerrow.com/images/machines/column-bg-grad.png) 0 -100px no-repeat;
}
.department #navigation #shop .modulecontent {
	padding-bottom: 0;
}
body #navigation .module ul#shopapple {
	margin-top: 4px;
	margin-bottom: 2px;
}
body .department #navigation .module ul#shopapple {
	margin-bottom: 6px;
}
.sub-department #navigation #shop .modulecontent ul#shopapple {
	margin-top: 0;
}
body #navigation .module ul#shopaccessories {
	margin-top: 0;
}
.sub-department #navigation #shop .modulecontent {
	padding-bottom: 2px;
}
.product-details #primary .details-main .modulecontent {
	background: url(http://images.imerrow.com/images/machines/product-details-bg.png) bottom left no-repeat;
	position: relative;
}


img.module-banner {
	margin: 0 0 -4px;
	line-height: 1em;
}

/* module bottom */
.module_btm {
	margin-bottom: 7px;
	clear: left;
	float: left;
	width: 100%;
	height: 5px;
	background: url(http://images.imerrow.com/images/machines/primary-btm.png) no-repeat;
	line-height: 5px;
}
#promo-bar .module_btm {
	background: url(http://images.imerrow.com/images/machines/promo-primary_btm.png) no-repeat;
}
.category .module_btm {
	background: url(http://images.imerrow.com/images/machines/category-primary_btm.png) no-repeat;
}
.full .module_btm {
	background: url(http://images.imerrow.com/images/machines/primary-full-btm.png) no-repeat;
}
#primary_main .module_btm {
	background: url(http://images.imerrow.com/images/machines/primary_main-btm.png) no-repeat;
}
#navigation .module_btm,
#secondary .module_btm {
	background: url(http://images.imerrow.com/images/machines/column-btm.png) no-repeat;
}
.product-details #primary .details-main .module_btm {
	background: url(http://images.imerrow.com/images/machines/product-details-btm.png) bottom left no-repeat;
	height: 4px;
	line-height: 4px;
}
.module_clear {
	clear: left;
	float: left;
	width: 100%;
	height: 26px;
}
.module_clear a,
.module_clear a:hover {
	display: block;
	padding: 0;
	height: 26px;
	background: url(http://images.imerrow.com/images/machines/column-btm-clear.png) no-repeat !important;
	line-height: 1em;
	text-indent: -9999em;
}

/* module h3 (only left and right column) */
#navigation .module h3,
#secondary .module h3 {
	float: left;
	width: 100%;
	background: url(http://images.imerrow.com/images/machines/column-h3-bg.png) repeat-y;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	color: #333;
}
#navigation .footerblock h3,
#secondary .footerblock h3 {
	background: none;
}

/*Juniper promo doesn't need a background*/
#secondary #juniper h3 { background:none; }

#navigation .module h3 span,
#secondary .module h3 span,
#navigation .module h3 a,
#secondary .module h3 a {position:relative;
	display: block;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #d1d1d1;
	margin: 0 2px 0 1px;
	padding: .34em 2px .34em 12px;
	line-height: 14px;
	color: #333;
}
#navigation .module h3 a,
#secondary .module h3 a {
	background: transparent url(http://images.imerrow.com/images/machines/h3-arrow.png) 146px .47em no-repeat;
	_background-image: url(http://images.imerrow.com/images/machines/h3-arrow.gif);
}
#navigation .module h3 a:hover,
#secondary .module h3 a:hover {
	background-color: #E4EBF2;
	color: #0085cf;
	text-decoration: none;
}
#navigation li {
	clear: left;
}

/* module lists (only left and right column) */
#navigation .module ul,
#secondary .module ul {
	margin: 5px 2px 3px 1px;
	padding-left: 0;
	list-style: none;
}
#navigation .module ul {
	clear: both;
}
.department #navigation .module ul {
	margin-top:  4px;
	margin-bottom:  7px;
}
#secondary .module li {
	clear: left;
}
.shopiphone #navigation .module ul.product-line {
	margin: 10px 2px 10px 1px;
}

/* module links in columns */
#navigation .modulecontent li a,
#secondary .modulecontent li a,
#navigation .modulecontent p.more a,
#secondary .modulecontent p.more a {
	position: relative;
	display: inline-block; /* IMPORTANT: this rule gets overridden below, but we MUST keep these as two separate CSS rules or IE6 will choke! */ 
	clear: left;
	padding: 5px 12px;
	line-height: 1.25em;
	color: #333;
}
#navigation .modulecontent li a,
#secondary .modulecontent li a,
#navigation .modulecontent p.more a,
#secondary .modulecontent p.more a {
	display: block;
}
#navigation .modulecontent li a:hover,
#secondary .modulecontent li a:hover,
#navigation .modulecontent p.more a:hover,
#secondary .modulecontent p.more a:hover {
	text-decoration: none;
	color: #0085CF;
}
#shop a:hover {
	background-color: #D6E5F2;
}

#secondary .modulecontent ul.ordered li a {
	padding-left: 0;
}
#secondary .modulecontent ul.ordered li a em {
	display: block;
	float: left;
	width: 2em;
	text-align: right;
	font-style: normal;
	color: #666;
}
#secondary .modulecontent ul.ordered li a:hover em {
	color: #0085CF;
}
#secondary .module .modulecontent ul.ordered li a span {
	display: block;
	margin-left: 2.3em;
}
/* module images in columns */
#navigation .modulecontent img,
#secondary .modulecontent img {
	margin-left: 1px;
}

/* module paragraphs in columns */
#navigation .modulecontent p,
#secondary .modulecontent p {
	margin: 0 1px;
	padding: .5em 11px;
	line-height: 1.5em;
	color: #666;
}
#navigation .modulecontent p.more,
#secondary .modulecontent p.more {
	margin: -3px 0 8px 0;
	padding: 0 2px 0 1px;
}
#secondary #topsellers .modulecontent .list_foot p.more a {
	padding-left: 25px;
}
#navigation .iphonebox .modulecontent p {
	line-height: 1.3em;
}
#navigation .iphonebox .modulecontent p.more {
	margin: 0;
	padding: 4px 11px;
}
#navigation .iphonebox .modulecontent p.more a {
	background: none;
}
#navigation .iphonebox .modulecontent p.more img {
	float: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
/* Shop Apple */
#navigation .module .modulecontent #shopapple li a {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	line-height: 1em;
	font-weight: bold;
}

/* More Stores */
#navigation .module #morestores ul {
	margin-top: 4px;
	padding-top: 8px;
	border-top: 1px solid #ccc;
}
#recentlyviewed .modulecontent {
	padding: .25em 0;
}
#navigation #recentlyviewed a {
	min-height: 48px;
	padding-top: 1px;
	padding-bottom: 0;
}
#navigation #recentlyviewed a:hover {
	background: #fff;
	text-decoration: underline;
}
#navigation #recentlyviewed li,
#navigation #recentlyviewed li a {
	float: left;
}
#navigation .modulecontent span.recent {
	float: left;
	display: block;
	padding: .625em 0;
	border-bottom: 1px solid #e1e2e4;
}
#navigation .modulecontent li.last span.recent {
	border-bottom: 0;
}

/* ------- Footerblock ------- */
#navigation .footerblock .module_top,
#secondary .footerblock .module_top {
	background: url(http://images.imerrow.com/images/machines/column-top-alt.png) no-repeat;
}
#primary_main .footerblock .modulecontent {
	padding-top: 0;
	padding-bottom: 0;
	min-height: 30.5em;
	height: auto !important;
	height: 30.5em;
	background: transparent url(http://images.imerrow.com/images/machines/primary_main-bg-alt2.png) repeat-y scroll 100% 0pt;
	color: #666;
}
#primary_main .footerblock .module_btm {
	width: 628px;
	background: url(http://images.imerrow.com/images/machines/primary_main-btm-alt.png) 100% 0 no-repeat;
}
#primary_main .ipfb .modulecontent {
	background-image: url(http://images.imerrow.com/images/machines/primary_main-bg-alt-l.png);
}
#primary_main .ipfb .module_btm {
	background-image: url(http://images.imerrow.com/images/machines/primary_main-btm-alt-l.png);
}
#navigation .footerblock .module_btm,
#secondary .footerblock .module_btm,
#secondary #accountlinks .module_btm {
	background: url(http://images.imerrow.com/images/machines/column-btm.png) no-repeat scroll 0% 50%;
}
#navigation .footerblock .modulecontent,
#secondary .footerblock .modulecontent {
	background: url(http://images.imerrow.com/images/machines/column-bg.png) repeat-y scroll 0% 50%;
}/* IE-overrides exist */
#secondary #accountlinks .modulecontent {
	font-size: .95em;
	background: url(http://images.imerrow.com/images/machines/column-bg-alt.png) repeat-y;
}
#secondary #accountlinks .modulecontent ul {
	margin-top: 2px;
	margin-bottom: 2px;
}
#navigation .footerblock .modulecontent a,
#navigation div.iphonebox .modulecontent a,
#secondary .footerblock .modulecontent a {
	display: inline;
	margin: 0;
	padding: 0;
	line-height: 1.75em;
	color: #0085CF;
}
/* module links in columns */
#navigation .footerblock ul.more li,
#secondary .footerblock ul.more li,
#navigation .footerblock .list_content ul li,
#secondary .footerblock .list_content ul li,
#navigation .footerblock .modulecontent p.more,
#secondary .footerblock .modulecontent p.more {
	margin: 0;
	padding: 0 0 0 12px;
}
#primary_main .footerblock .list_content ul li a,
#navigation .footerblock .list_content ul li a,
#secondary .footerblock .list_content ul li a,
#primary_main .footerblock ul.more li a,
#navigation .footerblock ul.more li a,
#secondary .footerblock ul.more li a,
#secondary .footerblock .modulecontent p.more a,
#navigation .footerblock .modulecontent p.more a,
#navigation .footerblock .modulecontent ul.more a,
#navigation .iphonebox .modulecontent p.more a,
#primary_main .footerblock .modulecontent p.more a,
#ipod-everywhere p a,
td.purchase-info p.more a,
.promo p.more a,
.review-links a,
.review-footers a span,
.review-footer-single a span,
.review-report a,
.hreview .more a,
.one-click a,
a.learn-more {
	padding-right: 7px;
	background: url(http://images.imerrow.com/images/machines/link-more.png) 100% 82% no-repeat !important;
	background-image: url(http://images.imerrow.com/images/machines/link-more.gif);
}
#navigation .footerblock .modulecontent p.more,
#secondary .footerblock .modulecontent p.more {
	padding-top: 5px;
	padding-bottom: 18px;
}
#navigation .footerblock .modulecontent p.more a,
#secondary .footerblock .modulecontent p.more a {
	padding: 0 10px 0 0;
	display: inline;
	color: #0085CF;
}
#navigation .iphonebox .modulecontent p.more a {
	line-height: 1.2em;
}
.home .module ul.product-row li dd.more a {
	line-height: 1.2em;
}
.home #primary .product-grid a,
.sub-department #primary td.purchase-info p.more a,
.department #primary ul.product-row li dd.more a {
	color: #999;
}

/* module detail */
#navigation .footerblock .modulecontent .moduledetail,
#secondary .footerblock .modulecontent .moduledetail {
	border-top: 1px solid #ccc;
	clear: both;
	margin: 0 12px 1em 12px;
	padding: 1em 2px 1em;
}
#navigation .footerblock .modulecontent .moduledetail h3,
#secondary .footerblock .modulecontent .moduledetail h3 {
	margin: 0;
	padding: 0 0 15px 0;
	border: 0;
	background: none;
	font-size: 12px;
	width: auto;
}
#navigation .footerblock .modulecontent .moduledetail img,
#secondary .footerblock .modulecontent .moduledetail img {
	margin: -8px 5px 1em 10px;
	float: right;
}
#navigation .footerblock .modulecontent .moduledetail p,
#secondary .footerblock .modulecontent .moduledetail p {
	padding-bottom: 0;
	padding-left: 0;
}
#navigation .footerblock .modulecontent .moduledetail p.more,
#secondary .footerblock .modulecontent .moduledetail p.more {
	padding-left: 0;
}

/* Footerblock: Store Info TESTED THESE ARE THE BOTTOM MOST SQUARES ON THE PAGE*/
#store_details {
	float: left;
	width: 404px;
	margin: 8px 2 2 11px;
}
.ipfb #store_details {
	width: 410px;
}
.footerblock #store_details .column {
	float: left;
	width: 197px;
}
.footerblock #store_details .first {
	border-right: 1px solid #e0e0e0;
	margin-right: 1px;
	width: 195px;
}
#store_updates {
	float: left;
	margin: 8px 0 0 32px;
	width: 160px;
}
#primary_main .footerblock .modulecontent h3 {
	margin: 0 2px 0 1px;
	padding-top: 12px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 12px;
	color: #333;
}
#navigation .footerblock .modulecontent p {
	margin-left: 4px;
	line-height: 14px;
	width: 87px;
}
.footerblock .modulecontent,
#secondary .footerblock .modulecontent p {
	line-height: 14px;
}
#navigation .footerblock .modulecontent p.more {
	margin-left: 3px;
}
#navigation .footerblock .modulecontent h4 {
	margin-left: 14px;
	font-weight: bold;
	font-size: 11px;
	color: #000;
}
#primary_main .footerblock .modulecontent #store_details h3 {
	padding-top: 0;
	padding-bottom: 3px;
}
.footerblock fieldset {
	border: 0;
	padding-top: .75em;
}
.footerblock legend {
	display: none;
}
.footerblock .modulecontentwrap {
	margin-bottom: .95em;
}
.footerblock #store_details .modulecontentwrap {
	border-bottom: 1px solid #e0e0e0;
	height: 13.75em;
	line-height: 14px;
	padding: 0 7px;
}


/* ------- Homepage & Department Chrome ------- */
#aos_family {
	float: left;
	width: 100%;
	margin-bottom: 8px;
	padding: 5px 0 2px;
	background: url(http://images.imerrow.com/images/machines/primary_main-family-bg.png) bottom no-repeat;
	line-height: .5em;
	border-top: 2px dotted #e6bd5d;
	margin-top: 5px;
}
#aos_family h2,
#aos_family h3 {
	display: none;
}
#family-mac li,
#family-ipod li { float: left; }



/* Product Tiles */
#primary_main .producttiles .module_btm {
	background: url(http://images.imerrow.com/images/machines/primary_main-grid-btm.png) no-repeat;
}
#primary_main .producttiles .modulecontent {
	padding: 0;
}
.module ul.product-row {
	margin-left: 1px;
	padding: 0;
	width: 626px;
	border-bottom: 1px solid #e5e6e8;
	background: url(http://images.imerrow.com/images/machines/primary_main-grid.png) 50% 0 repeat-y;
}
.module ul.last-row {
	border-bottom: 0;
}
.module ul.product-row li {
	position: relative;
	display: inline;
	float: left;
	margin: 0 1px 0 0;
	width: 156px;
}
.module ul.product-row,
.module ul.product-row li {
	min-height: 16em;
	height: auto !important;
	height: 16em;
}
.module ul.product-row li.first-tile {
	width: 154px;
}
.module ul.product-row li.last-tile {
	margin-right: 0;
	width: 142px;
}
.module ul.product-row li dl {
	position: relative;
	top: 8px;
	left: 18px;
	width: 121px;
	min-height: 15em;
	font-size: 10px;
}
.module ul.product-row li dt {
	height: auto !important;
	height: 2.85em;
	min-height: 2.85em;
	font-size: 1.1em;
	line-height: 1.125em;
}
/* =HOME-MODULE-PRODUCT-ROW */
.home .module ul.product-row li dt {
	margin-top: 0;
	height: auto !important;
	height: 3.125em;
	min-height: 3.125em;
}
.module ul.product-row li dt a {
	color: #333;
}
.module ul.product-row li dt a:hover {
	text-decoration: none;
	color: #000 !important;
}
.module ul.product-row li dd.starrating {
	margin: .5em 0;
	line-height: 1em;
}
.home .module ul.product-row li dd.starrating {
	
}
.home .module ul.product-row li dd.price {
	margin-top: 6px;
}
.module ul.product-row li dd.more a {
	color: #0085CF;
}
.home .module ul.product-row li dd.image {
	padding-top: 3px;
	padding-bottom: 3px;
}
/* Text Asset Highlight */
span.textAssetUnknown {
	background-color: #982D10 !important;
	border: 1px solid #982D10 !important;
	color: #fff !important;
}
span.textAssetNoKey {
	background-color: #2D7B78 !important;
	border: 1px solid #2D7B78 !important;
	color: #fff !important;
}
span.textAssetNoValue {
	background-color: #538622 !important;
	border: 1px solid #538622 !important;
	color: #fff !important;
}
span.textAssetFound {
/* do nothing */
}


hr {
	display: none;
}
/* Checkout */
#as-page-content hr {
	display:block;
}
#aos-page {
	width: 980px;
	text-align: left;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
	padding-left: 38px;
}
#aos_header {
	font: 10px/1.7em "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	margin:0 auto;
	padding-top: 0;
	text-align: left;
	width: 980px;
}
#aos_header * {
	margin: 0;
	padding: 0;
	line-height: 1em;
}
.as-js-wrap {
	margin: 0;
	position: absolute;
	visibility: hidden;
	width: 1px;
}
/* Hide in accessible way */
.xs {
	display: block;
	height: 1px;
	position: absolute;
	overflow: hidden;
	visibility: hidden;
	width: 1px;
	line-height: 1px;
}

/* ------- Masthead ------- */
#aos_header #masthead {
    position: absolute;
	margin: 0;
	width: 168px;
	font-size: 11px;
	color: #fff;
	text-shadow: 1px 1px 1px #224272;
	float: left;
	display: block;
	height: 120px;
	top: 0;
	visibility: hidden;
}
#aos_header #masthead_wrap {
	min-height: 104px;
	background: url(http://images.imerrow.com/images/machines/masthead.png) no-repeat 0 0;
	z-index: 2;
}
#aos_header.collapsed #masthead {
	margin-bottom: 0;
}
#aos_header.collapsed #masthead_wrap {
	min-height: 0;
	height: 45px;
	background-image: url(http://images.imerrow.com/images/machines/masthead.png);
}
#aos_header #masthead_btm {
	float: left;
	width: 168px;
	height: 5px;
	background: url(http://images.imerrow.com/images/machines/masthead_btm.png) no-repeat 0 0;
}
#aos_header #masthead h1 {
	overflow: hidden;
	padding-top: 16px;
}
#aos_header #masthead h1 a {
	display: block;
	height: 28px;
	line-height: 28px;
	text-indent: -999em;
	width: 168px;
}
#aos_header #masthead ul {
	margin: 6px 14px 0;
	width: 140px;
	list-style: none;
	padding-top: 0px !important;
	padding-top: 1px;
}
#aos_header #masthead li {
	display: inline;
	line-height: 14px;
	text-indent: 0;
}
#aos_header #masthead li a {
	display: block;
	overflow: hidden;
}
#aos_header #masthead address.phone {
	margin-left: 6px;
	margin-bottom: 6px;
	width: 125px;
	float: left;
	font-style: normal;
	height: 13px; /* This gets overridden in Catalog */
	text-indent: -9999em;
	background-position: 0 50%;
	background-repeat: no-repeat;
}
#aos_header #masthead li#chatnow {
	display: none;
	float: left;
	padding-top: 0 !important;
	padding-top: 2px;
	margin: 1px -20px 3px 6px; /* See bottom of stylesheet for non-safari style */
	width: 46px; /* This gets overridden in Catalog */
	height: 12px; /* This gets overridden in Catalog */
}
#aos_header #masthead li#chatnow a {
	font-size: 0;
}
#aos_header #masthead .searchform {
	clear: left;
}
#aos_header #masthead .searchform #default-search-form {
	margin-left: 10px;
}
#aos_header #masthead .searchform fieldset {
	margin-left: 10px;
	border: 0;
}
#aos_header #masthead .searchform legend,
#aos_header #masthead .searchform button {
	display: none;
}
/* turning off hours everywhere*/
body #aos_header #masthead #hours { 
	display: none;
}

#aos_header #masthead #hours {
	display: inline;
	float: left;
	margin: 0 0 10px 0;
	text-indent: -9999em;
}


/* ------- Guide (breadcrumb & user_nav) ------- */
#aos_header #guide {
	display: inline;
	float: left;
	width: 980px;
	line-height: 1em;
	color: #000;
	text-shadow: 1px 1px 1px #fff;
	background: url(http://images.imerrow.com/images/store/new_jpgs/bc-bg-corners_980.jpg) no-repeat;
}
#guide li#chatnow {
	display: block;
	float: left;
}
/*
.home #aos_header #guide,
.department #aos_header #guide {
	width: 628px;
	background-image: url(http://images.imerrow.com/images/machines/bc-bg-corners-2.png);
}*/
#guide_wrap {
	position: relative;
	display: inline;
	float: left;
	width: 970px;
	border-top: 1px solid #cdcdcd;
	background: #eee url(http://images.imerrow.com/images/machines/bc-bg.gif) 0 0% repeat-x;
	margin-top: 0;
	margin-left: 4px;
	margin-right: 4px;
	padding-bottom: 1px;
}/*
.home #aos_header #guide_wrap,
.department #aos_header #guide_wrap {
	width: 620px;
}*/
#guide_wrap_btm {
	margin-top: -3px;
	margin-bottom: 9px;
	float: left;
	width: 980px;
	height: 4px;
	background: url(http://images.imerrow.com/images/store/new_jpgs/bc-bg-corners_btm_980.jpg) no-repeat 0 0;
}/*
.home #aos_header #guide_wrap_btm,
.department #aos_header #guide_wrap_btm {
	background-image: url(http://images.imerrow.com/images/machines/bc-bg-corners_btm-2.png);
	margin-right: 176px;
	width: 628px;
}*/
#guide ul,
#guide ol {
	float: left;
	list-style: none;
}
#guide li {
	display: inline;
	text-indent: 0;
}
#guide a,
#guide span,
#breadcrumb li.title span,
#breadcrumb li.title a {
	display: block;
	float: left;
	padding: .95em 10px;
	color: #170a06;
	font-weight: bold;
	font-size: 14px;
}	

#owmheader{
	width: 168px;
	position: relative;
	display: inline-block;
	
	height: 120px;
	background-image: url(http://images.imerrow.com/images/machines/masthead.png);
	margin-bottom: 5px;
}	
#cgmheader{
	width: 170px;
	position: absolute;
	display: inline-block;
	background-image: url();
	height: 160px;
	opacity: 0.56;
}	
#guide a:hover {
	text-decoration: none;
	color: #000;
	color: #0085cf;
}				
#breadcrumb {
	float: left;
}
#breadcrumb li {
	float: left;
	text-indent: 0;
}
#breadcrumb a,
#breadcrumb li.title span,
#breadcrumb li.title a {
	margin-top: 1px;
	padding-right: 16px;
	padding-left: 8px;
	background-position: 100% 50%;
	background-repeat: no-repeat;
}
#breadcrumb.js-managed a,
#breadcrumb.js-managed li.title span,
#breadcrumb.js-managed li.title a {
	margin-left: -10px;
	padding-left: 18px;
}
#breadcrumb li.title span,
#breadcrumb li.title a {
	background: none !important;
}
#breadcrumb span.separator {
	display: none;
}
#breadcrumb #bc-home a {
	width: 40px;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	text-indent: -9999em;
	background: url(http://images.imerrow.com/images/machines/chevron-home.gif) no-repeat 100% 50%;
}
#user_nav {
	margin-top: 1px;
	margin-right: 4px;
	position: relative;
	float: right;
	min-height: 2.95em;
	background: url(http://images.imerrow.com/images/machines/usernav-border.png) repeat-y;
}
#user_nav ul {
	padding: .795em 0 .795em 2px;
	float: left;
}
.collapsed #user_nav {
	min-height: 4.55em;
}
.collapsed #user_nav ul {
	padding: 1.675em 1.475em 2px;
}
#user_nav a {
	padding-top: 2px;
	padding-bottom: 2px;
	border-right: 1px solid #cfcfcf;
}
#user_nav #u_cart a {
	padding-right: 22px;
	border-right: 0;
	background: url(http://images.imerrow.com/images/machines/cart.gif) no-repeat 100% 50%;
}
#contact-us {
	float: left;
	font-size: 11px;
	line-height: 1em;
	padding: 1.375em 5px 0 5px;
}
#contact-us a,
#contact-us span {
	padding: 0;
	display: block;
	float: left;
	color: #333;
}
#contact-us span {
	padding: 2px 8px 2px 10px;
}
#contact-us strong {
	font-weight: normal;
	color: #000;
}
#contact-us div#lpChatButton {
	position: absolute;
}

/* ------- Two column layout ------- */#primary { 					/* Any content to the right of the "left rail" */
	float: right;
	width: 804px;
	min-height: 6.75em;	/* Keeps the nav to the left if no content in primary div */
	font-size: 1.1em;
} /* IE-overrides exist */

.full #primary { /* full width - put class="full" on the body tag */
	width: 980px;
	min-height: 0; /* Keeps the nav to the left if no content in primary div */
}
#navigation { /* The "left rail" */
	float: right;
	margin-right: 7px;
	width: 169px;
	font-size: 1.1em;
	line-height: 1.2em;
}

/* ------- Also used *if* the right rail is included: -------*/
#primary_main { /* The content in the center */	
	float: left;
	margin-right: 7px;
	width: 628px;
}
#secondary { /* The "right rail" */
	float: left;
	width: 169px;
}/*

/* ------- Global Footer ------- */
#globalfooter {
	clear: both;
	margin: 0 auto 21px;
	padding-top: 10px;
	padding-bottom: 1px;
	width: 980px;
	text-align: left;
	font: 10px/1.7em "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}
#globalfooter * {
	margin: 0;
	padding: 0;
}
#globalfooter ul {
	list-style: none;
	margin-bottom: 0;
}
#globalfooter #orderbyphone,
#sosumi {
	float: left;
}
#globalfooter #otherstores p,
#globalfooter #otherstores ul,
#globalfooter li{
	display: inline;
}
#globalfooter li {
	margin-right: 1em;
	padding-right: 1.25em;
	border-right: 1px solid #666;
	text-indent: 0;
}
#globalfooter li.last {
	margin-right: 0;
	border-right: 0;
}
#globalfooter a {
	color: #0085cf;
}
#globalfooter #otherstores p {
	margin-right: 1em;
}
#globalfooter #otherstores ul,
#globalfooter #otherstores form,
#globalfooter #otherstores fieldset {
	border: 0;
	display: inline;
	vertical-align: top;
	clear: none;
	width: auto;
	margin: 0;
	padding: 0;
}
#globalfooter #otherstores form#as-country-switch div {
	display: inline;
	width: auto;
	float: none;
	clear: none;
	margin: 0;
	padding: 0;
}
#globalfooter #otherstores form#as-country-switch fieldset {
	width: 120px;
}
#globalfooter #otherstores form#as-country-switch select {
	position: relative;
	top: -6px;
	margin: 0;
	margin-bottom: -6px;
	padding: 0;
	width: 120px;
}
#globalfooter #otherstores legend {
	display: none;
}
#globalfooter #shopelsewhere {
	margin-bottom: .5em;
	padding-bottom: .5em;
	border-bottom: 1px solid #d0d1d2;
}
#globalfooter #otherstores,
#globalfooter #gethelp {
	text-align: right;
}

#nav-coverage-checker { margin: 0 0 0 6px;}
#navigation .iphonebox .modulecontent p.more { margin: 0; padding: 0 12px 8px;}
#primary .tab-top dl.product dt.name a {
	color: #333;
}
#primary .tab-top dl.product dt.name a:hover {
	text-decoration: none;
	color: #0085cf;
}
.tab-controller li a.active:hover { background-position: 100% 0; }
.tab-controller li.left a.active:hover { background-position: 0 0; }
.sub-department #primary .module_top {
	background: transparent no-repeat;
	border: 0;
	height: 4px;
}
.sub-department #primary #promo-bar .module_top {
	background: transparent no-repeat;
	border-bottom:1px solid #CFCFCF;
	height:auto;
}

#navigation .modulecontent a img {
	float: none;
	margin: 20px auto 0;
}

#aos-page #navigation .footerblock a img {
	display: block;
}

#secondary .modulecontent img.sd_accent { /* clock img */
	margin: -25px 2px 0 0;
	float: right;
}
#navigation .footerblock .modulecontent p.number {
	color: #000;
}

/* Family Module */



.department ul#family-ipod { margin-left: 26px; }
.home #primary #aos_family ul#family-ipod {
	width: auto;
}
ul#family-mac,
ul#family-ipod,
ul#family-iphone,
ul#family-servers {
	border-top: 1px solid #cdcdcd;
	margin: 0 0 2px 19px;
	padding: 0;
	float: left;
	position: relative;
	width: 590px;
	line-height: 14px;
	min-height: 156px;
	height: auto !important;
	height: 156px;
	white-space: nowrap;
}
* html .home ul#family-ipod {
	margin-left: 12px;
}
* html .home ul#family-mac {
	margin-left: 10px;
}
* html .department ul#family-ipod {
	margin-left: 14px;
}
ul#family-mac {
	clear: both;
	margin-right: -1px;
}
/* Begin clear fix */
	ul#family-mac:after,
	ul#family-ipod:after,
	ul#family-iphone:after,
	ul#family-servers:after {
		content: "."; 
		display: block; 
		height: 0; 
		clear: both; 
		visibility: hidden;
	}
	
	ul#family-mac,
	ul#family-ipod,
	ul#family-iphone,
	ul#family-servers {display: inline-block;}
	
	/* Hides from IE-mac \*/
	* html ul#family-mac,
	* html ul#family-ipod,
	* html ul#family-iphone,
	* html ul#family-servers {height: 1%;}
	ul#family-mac,
	ul#family-ipod,
	ul#family-iphone,
	ul#family-servers {display: block;}
	/* End hide from IE-mac */

/* End clearfix */

.department ul#family-mac,
.department ul#family-ipod {
	margin-bottom: 0;
	min-height: 141px;
	height: auto !important;
	height: 141px;
}
ul#family-servers {
	border-bottom: 1px solid #cdcdcd;
	margin-bottom: 0;
	min-height: 130px;
	height: auto !important;
	height: 130px;
}
ul#family-mac.first-row,
ul#family-ipod.first-row,
ul#family-iphone.first-row,
ul#family-servers.first-row {
	border-top: 0;
}
ul#family-mac.last-row,
ul#family-ipod.last-row,
ul#family-iphone.last-row,
ul#family-servers.last-row {
	border-top: 0;
	padding-top: 10px;
}
.home #primary ul#family-ipod.hc {
	margin-left: 0;
	width: auto;
}
ul#family-iphone,
.home #aos_family ul#family-iphone {
	width: auto;
}
* html ul#family-iphone {
	margin-left: 6px;
}
ul#family-mac a,
ul#family-ipod a,
ul#family-iphone a,
ul#family-servers a,
ul#family-mac em,
ul#family-ipod em,
ul#family-iphone em,
ul#family-servers em {
	float: left;
	display: block;
	padding: 20px 10px 2px;
	position: relative;
	color: #666;
	font-size: 11px;
	font-style: normal;
}
*+html ul#family-mac a,
*+html ul#family-ipod a,
*+html ul#family-iphone a,
*+html ul#family-servers a,
*+html ul#family-mac em,
*+html ul#family-ipod em,
*+html ul#family-iphone em,
*+html ul#family-servers em {
	padding-left: 12px;
	padding-right: 12px;
}
* html ul#family-mac a,
* html ul#family-ipod a,
* html ul#family-iphone a,
* html ul#family-servers a,
* html ul#family-mac em,
* html ul#family-ipod em,
* html ul#family-iphone em,
* html ul#family-servers em {
	padding-left: 11px;
	padding-right: 13px;
}/*
ul#family-mac span,
ul#family-ipod span,
ul#family-iphone span,
ul#family-servers span {
	position: relative;
	float: left;
}*/
ul#family-mac .first a {
	padding-left: 0;
}
ul#family-mac em,
ul#family-ipod em,
ul#family-iphone em,
ul#family-servers em {
	padding-top: 17px;
}
ul#family-mac em,
ul#family-ipod em,
ul#family-iphone em,
ul#family-servers em {
	filter: alpha(opacity=50);
	-moz-opacity: .50;
	opacity: .50;
}
.department ul#family-mac a,
.department ul#family-ipod a,
.department ul#family-mac em,
.department ul#family-ipod em {
	padding-top: 11px;
}
ul#family-mac .last a,
ul#family-mac .last em {
	padding-left: 5px;
	padding-right: 0;
}
ul#family-ipod a,
ul#family-ipod em {
	padding-left: 14px;
	padding-right: 14px;
}
* html ul#family-ipod a,
* html ul#family-ipod em {
	padding-left: 24px;
	padding-right: 24px;
}
.department ul#family-ipod a,
.department ul#family-ipod em {
	padding-left: 14px;
	padding-right: 16px;
}
*+html .department ul#family-ipod a,
*+html .department ul#family-ipod em,
* html .department ul#family-ipod a,
* html .department ul#family-ipod em {
	padding-left: 14px;
	padding-right: 18px;
}
*+html ul#family-ipod a,
*+html ul#family-ipod em,
* html ul#family-ipod a,
* html ul#family-ipod em {
	padding-left: 26px;
	padding-right: 26px;
}
ul#family-ipod .first a,
ul#family-ipod .first em {
	padding-left: 10px;
	padding-right: 16px;
}
.department ul#family-ipod .first a,
.department ul#family-ipod .first em {
	padding-left: 0;
	padding-right: 16px;
}
ul#family-ipod .last a,
ul#family-ipod .last em {
	border-left: 1px solid #cdcdcd;
	margin-left: 4px;
	padding-left: 25px;
	padding-right: 5px;
}
.department ul#family-ipod .last a,
.department ul#family-ipod .last em {
	padding-right: 0;
}
*+html .department ul#family-ipod .last a,
*+html .department ul#family-ipod .last em,
* html .department ul#family-ipod .last a,
* html .department ul#family-ipod .last em {
	padding-left: 26px;
}
ul#family-ipod.hc a,
ul#family-ipod.hc em {
	padding-right: 14px;
	padding-left: 4px;
}
ul#family-ipod.hc .first a,
ul#family-ipod.hc .first em {
	padding-left: 20px;
	padding-right: 9px;
}
ul#family-ipod.hc .last a,
ul#family-ipod.hc .last em {
	border-left: 1px solid #cdcdcd;
	margin-left: 8px;
	padding-left: 20px;
	padding-right: 2px;
}
ul#family-iphone a,
ul#family-iphone em {
	margin-right: 0;
	border-right: 1px solid #cdcdcd;
	padding-left: 4px;
	padding-right: 15px;
}
*+html ul#family-iphone a,
*+html ul#family-iphone em {
	padding-right: 15px;
}
* html ul#family-iphone a,
* html ul#family-iphone em {
	padding-right: 15px;
}
ul#family-iphone a img,
ul#family-iphone em img {
	padding-left: 0;
}
ul#family-mac a strong,
ul#family-ipod a strong,
ul#family-iphone a strong,
ul#family-servers a strong,
ul#family-mac em strong,
ul#family-ipod em strong,
ul#family-iphone em strong,
ul#family-servers em strong {
	display: block;
	color: #000;
}
ul#family-mac a:hover,
ul#family-ipod a:hover,
ul#family-iphone a:hover,
ul#family-servers a:hover {
	text-decoration: none;
}
ul#family-mac a:hover strong,
ul#family-ipod a:hover strong,
ul#family-iphone a:hover strong,
ul#family-servers a:hover strong {
	color: #0085CF;
}
ul#family-mac span span {
	position: static;
	float: none;
}
ul#family-mac span span.price,
ul#family-ipod span span.price,
ul#family-iphone span span.price,
ul#family-servers span span.price {
	display: block;
	clear: both;
	margin-right: -200px; /* avoid wrapping for long titles */
}
ul#family-mac a span.imac_title {
	display: block;
	margin-left: 14px;
}
body.home ul#family-mac a,
body.home ul#family-ipod a,
body.home ul#family-iphone a,
body.home ul#family-servers a,
body.home ul#family-mac em,
body.home ul#family-ipod em,
body.home ul#family-iphone em,
body.home ul#family-servers em {
	padding-bottom: 11px;
}

/* Family Violators  TESTED IS CENTER PRODUCT PICTURE FORMATTING*/
.new-icon { display: none; position: absolute; }
.home #family-prod-iphone .new-icon { display:block; top: 6px; }
.home #family-prod-shuffle .new-icon { top: 61px; }
.home #family-prod-nano .new-icon { top: 35px; }
.home #family-prod-classic .new-icon { top: 12px; }
.home #family-prod-touch .new-icon { top: 6px; }
.home #family-prod-appletv .new-icon { top: 8px; }

.home #family-prod-macbook .new-icon { top: 45px; margin-left: 9px; }
.home #family-prod-macbookair .new-icon { top: 49px; margin-left: 11px; }
.home #family-prod-macbookpro .new-icon { top: 44px; margin-left: 9px; }
.home #family-prod-macmini .new-icon { top: 80px; }
.home #family-prod-imac .new-icon { top: 10px; margin-left: 1px; }
.home #family-prod-macpro .new-icon { top: 14px; }

.department #family-prod-shuffle .new-icon { top: 63px; }
.department #family-prod-nano .new-icon { top: 27px; }
.department #family-prod-classic .new-icon { top: 3px; }
.department #family-prod-touch .new-icon { top: -4px; }
.department #family-prod-appletv .new-icon { top: 3px; }

.department #family-prod-macbook .new-icon { top: 37px; margin-left: 9px; }
.department #family-prod-macbookair .new-icon { top: 40px; margin-left: 11px; }
.department #family-prod-macbookpro .new-icon { top: 36px; margin-left: 9px; }
.department #family-prod-macmini .new-icon { top: 71px; }
.department #family-prod-imac .new-icon { top: 2px; margin-left: 1px; }
.department #family-prod-macpro .new-icon { top: 5px; }

/* Promotions Banners TESTED AFFECTS CENTER 3 BANNERS*/
h2.promos {
	display: none;
}
#aos_promos {
	margin-left: 1px;
}
#aos_promos li {
	display: inline;
	margin-right: 6px;
	margin-bottom: 9px;
	float: left;
	line-height: 1em;
}
#aos_promos li.last {
	display: inline;
	margin-right: 0;
}
.banner-grid {
	margin: 0 0 8px 0;
	padding: 0;
}
.banner-grid li {
	display: inline;
}
.banner-grid li.middle {
	margin: 0 8px;
}

/* More Promos TESTED AFFECTS SECOND TIER OF BANNERS*/
.module ul#more_promos li {
	display: inline;
	float: left;
	padding: 1em 0 0;
	border-right: 1px solid #cbced0;
	width: 207px;
	min-height: 172px;
	position: relative;
}
.module ul#more_promos li.first {
	width: 210px;
}
.module ul#more_promos li.last {
	border-right: 0;
	width: 200px;
}
.module ul#more_promos li h3 {
	margin: 0 25px .25em;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.25em;
	color: #000;
}
.module ul#more_promos li h3 a {
	color: #000;
}
.module ul#more_promos li p,
.module ul#more_promos li img {
	margin: 5px 25px 0 25px;
	font-size: .95em;
	line-height: 1.375em;
}
.module ul#more_promos li img {
	position: absolute;
	bottom: 0;
}
.module ul#more_promos li.first h3,
.module ul#more_promos li.first p,
.module ul#more_promos li.first img {
	margin-left: 15px;
}
.module ul#more_promos li.last h3,
.module ul#more_promos li.last p,
.module ul#more_promos li.last img {
	margin-right: 15px;
}






/* ======================================================= W A R N I N G !!! ======================================================= 
												Non-safari styles -- Safari cannot see these styles, or anything 
												under it, so this section must remain at the bottom of the file  */

																	#aos_header #masthead li#chatnow {
																		margin-bottom: 4px; #
																	}
