/* @override http://merrow.com/cephei/css/css_major/player_vimeo.css */

/* @override http://merrow.com/cephei/css/css_major/player_vimeo.css */

/* @override 
	http://merrow.com/cephei/css/video/player.css
	http://merrow.com/cephei/css/video/player.css
	http://merrow.com/cephei/css/video/player.css
	http://merrow.com/cephei/css/css_major/player_vimeo.css
*/

}

div.workarea { padding:10px; float:left }
div.video {    cursor: move; };


ul.searchlist  {
	overflow: auto;
    background: #1A1A1A;
    border: 1px solid gray;
    list-style: none;
    margin:0;
    padding:0;
	text-align: center;
}





ul.draglist li {
	padding: 5px;
}


ul.draglist_alt { 
    position: relative; 
    list-style: none;
    margin:0;
    padding:0;
    padding-bottom:30px;
}

ul.draglist_alt li {
    margin: 1px;
    cursor: move; 
}


ul.playlist  {
	overflow: auto;
    width: 920px; 
    height:460px;
    background: #fdfdf8;
    border: 1px none gray;
    list-style: none;
    margin:0;
	text-align: center;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

div#whole.dragdrop {
	margin-left: 60px;
}

div.playpause {
	z-index: 900;
	position: relative;
	top: 5px;
	text-transform: uppercase;
}

ul.playlist li {
	overflow: hidden;
	float:left;
	padding:5px;
    cursor: move;
	width: 140px;
	height: 145px;
}



ul.playlistBottom  {
	overflow: auto;
    width: 925px; 
    height: 110px;
    background: #1A1A1A;
    border: 1px solid gray;
    list-style: none;
    padding:0;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
}

ul.playlistBottom li {
	overflow: hidden;
	float:left;
	padding:5px;
    cursor: move;
}

ul.playlistBottom li img{

}

.draglist_small img { 
    position: relative;
    padding-bottom:30px;
}
.draglist_small img{
	height: 47px;
	width: 65px;
}
.draglist_small li {
	  cursor: move; 
}
li.list1 {
    background-color: #D1E6EC;
    border:1px solid #7EA6B2;
}

li.list2 {
    background-color: #D8D4E2;
    border:1px solid #6B4C86;
}


#ul3 img, #ul2 img, #ul1 img{

	border: 3px solid #333;

}

div#boxtop {
	font-size: 16px;
	color: white !important;
	background-color: #e06846;
	width: 400px !important;
	text-indent: 10px !important;
	position: relative !important;
	margin-left: 35px !important;
	height: 30px;
	top: 40px;
	line-height: 25px;
	font-weight: bold;
	left: 34px;
}

#boxtop a {
	position: relative;
	top: 1px;
	left: 3px;
	font-size: 18px;
	color: #fff;
}

p.nowplaying {
	margin-bottom: 0;
	padding: 0;
	height: 0;
	margin-top: 12px;
}

#ul2 div {

}


#slider-thumb {
        cursor:default;
        position: absolute;
        top: 4px;
}

#content div.column div div.spiffyfg object {
	margin-left: 10px;
}

#ytapiplayer{
	width: 400px;
	height: 340px;
	margin-left: 30px;
	top: 35px;
	position: relative;
	z-index: 0;
	left: 34px;
}

div#items.menu {
	padding-top: 30px;
	margin-left: 60px;
}


embed#playerid {
	height: 300px;
}

ul#ul2.draglist {
	z-index: -2;
	height: 320px;
}

#ul2 li {
}

.tubeviewer{display:block;
	width: 400px;
	position: relative;
	left: 69px;
	top: 34px;
}
.tubeviewer *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background: #e06846}

div#cgm.player {
	position: relative;
	bottom: 30px;
	z-index: 0;
}
.tubeviewer1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #d1cdcd;
  border-right:1px solid #d1cdcd;
  background:#b0a8a8}
.tubeviewer2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #f4f3f3;
  border-right:1px solid #f4f3f3;
  background:#a9a1a1}
.tubeviewer3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #a9a1a1;
  border-right:1px solid #a9a1a1;}
.tubeviewer4{
  border-left:1px solid #d1cdcd;
  border-right:1px solid #d1cdcd}
.tubeviewer5{
  border-left:1px solid #b0a8a8;
  border-right:1px solid #b0a8a8}
.tubeviewerfg{
  background:#968C8C;
	width: 400px;
	text-indent: 10px;
	visibility: hidden;
}