/* @override http://merrow.com/cephei/css/video/player.css */

/* @override http://merrow.com/cephei/css/video/player.css */

}

div.workarea { padding:10px; float:left }
div.video {    cursor: move; };


ul.searchlist  {
	overflow: auto;
    background: #1A1A1A;
    border: 1px solid gray;
    list-style: none;
    margin:0;
    padding:0;
	text-align: center;
}



ul.draglist  {
	overflow: auto;
    background: #1A1A1A;
    border: 1px solid gray;
    list-style: none;
    margin:0;
    padding:0;
	text-align: center;
	overflow: none;
	width: 560px;
	height: 350px;
}

ul.draglist li {
	padding:5px;

}


ul.draglist_alt { 
    position: relative; 
    list-style: none;
    margin:0;
    padding:0;
    padding-bottom:30px;
}

ul.draglist_alt li {
    margin: 1px;
    cursor: move; 
}


ul.playlist  {
	overflow: auto;
    width: 800px; 
    height:460px;
    background: #1A1A1A;
    border: 1px solid gray;
    list-style: none;
    margin:0;
    padding:0;
	text-align: center;
}

div#whole.dragdrop {
}

ul.playlist li {
	overflow: hidden;
	float:left;
	padding:5px;
    cursor: move;
	width: 140px;
	height: 145px;
}



ul.playlistBottom  {
	overflow: auto;
    width: 550px; 
    height: 110px;
    background: #1A1A1A;
    border: 1px solid gray;
    list-style: none;
    margin:0;
    padding:0;
	text-align: center;
}

ul.playlistBottom li {
	overflow: hidden;
	float:left;
	padding:5px;
    cursor: move;
}

ul.playlistBottom li img{

}

.draglist_small img { 
    position: relative;
    padding-bottom:30px;
}
.draglist_small img{
	height: 47px;
	width: 65px;
}
.draglist_small li {
	  cursor: move; 
}
li.list1 {
    background-color: #D1E6EC;
    border:1px solid #7EA6B2;
}

li.list2 {
    background-color: #D8D4E2;
    border:1px solid #6B4C86;
}


#ul3 img, #ul2 img, #ul1 img{

	border: 3px solid #333;

}




#slider-thumb {
        cursor:default;
        position: absolute;
        top: 4px;
}

#ytapiplayer{
	width: 550px;
	height: 300px;
}

div#items.menu {
}

div#cgm.player {
	position: relative;
	display: inline;
}

embed#playerid {
}

#ul2 li {
}
