/* @override http://merrow.com/cephei/css/css_major/wide_main.css */

/* @override http://merrow.com/cephei/css/stitchstore/wide_main.css */

/* @override 
	http://merrow.com/cephei/css/ac_quicktime.css
	http://merrow.com/cephei/css/css_major/ac_quicktime.css
*/


/* @override 
	http://webstore.amazon.com/css/main.css
	http://merrow.com/cephei/css/stitchstore/main.css
*/

/*
	project: WebStore by Amazon
	author: Christopher Pawloski (www.solidcactus.com)
*/

.clear {clear:both;}
/* reset */


/* remember to define focus styles! */
:focus {outline: 0;}

ol, ul {list-style: none;}
ol.classic_ordered {
	margin-left: 35px;
	width: 450px;
	list-style:decimal;
	line-height: 2; font-size: 0.8125em; font-family:Verdana, Arial, Helvetica, sans-serif; color: black; background: white;
}
ol.classic_ordered li{
	padding: 5px;
}

img a {border:none;}
/* tables still need 'cellspacing="0"' in the markup */


blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

strong {font-weight:bold;}


body {
	
	}

#bottommost {background: white;}
	ul#terms { padding: 3px 0px 10px ; margin: 0; list-style-type: none; width: 100%; text-align: center; font-size:.73em; }
        ul#terms li { display: inline; }
        ul#terms li a {text-decoration: none; color: #124465; padding: 12px 8px; background: transparent;}
        ul#terms li a:hover {color: #000; text-decoration: underline;}

#homewrap {width: 855px; background: white url("wrapbkg.gif") no-repeat left; margin: 0 auto;}
#wrap { background: white;
	margin-left: auto;
	margin-right: auto;
}
#content { background:#fff; background: #fff; border: 1px solid #CCCCCC;
	position: relative;
	width: 930px;
	padding-left: 20px;
	left: 20px;
	bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border-top-style: none;
	border-bottom-style: none;
}
#header { height: 105px; background: #fff no-repeat;}
	#header h1#logo {float:left; width:134px; height:78px; padding:5px 5px 5px 10px;color:#FC9400;}
	#header h1#logo a {text-decoration:none;}
	#header .banner {float:right; margin:23px 11px 0 0px;}
	#header .banner img a {text-decoration:none; border:0;}

#probody {width: px; background: #fff url("probodybkg.gif") no-repeat; position:relative; clear:both;}
.homelink {text-align:right; padding-top:5px;}
.homelink a{padding:3px;  text-decoration:none; text-align:right; color:#fff; background-color:#175595; font-weight:bold;}
/* TABS */
ul.tabbernav li a {text-indent: -9999px; display: block;}
ul.tabbernav {position: absolute;}

.tabberlive .tabbertabhide {display:none;}
.tabber, .tabberlive {width: 800px; height: 265px; margin:0 auto;}
.tabber {display: none; /* flicker solution. */}

.tab_fact {padding: 8px 0 0 8px;}
.tab_fact img {cursor: pointer;}
.tab_fact p {width: 310px; margin: 5px 0 0 7px; font: 14px Verdana, serif; line-height: 17px; font-style: italic;color: #fff;}
p#efficiency_fact {color: #284c5e;}

.tabberlive .tabbertab {height: 265px;}

#simpletab {background: url(simple.jpg) top left no-repeat;}
#reliabletab {background: url(reliable.jpg) top left no-repeat;}
#powerfultab {background: url(powerful.jpg) top left no-repeat;}
#securetab {background: url(secure.jpg) top left no-repeat;}

.tabberlive .tabbertab h3 {display:none;}

ul.tabbernav {width: 257px; height: 265px; margin-left: 544px; list-style: none;}
ul.tabbernav li {overflow: hidden;}

ul.tabbernav li a {height: 67px; width: 257px; overflow: hidden;}
#undefinednav1 {background: url(simtab.gif) no-repeat;}
#undefinednav2 {background: url(reltab.gif) no-repeat;}
#undefinednav3 {background: url(powtab.gif) no-repeat;}
#undefinednav4 {height: 67px; background: url(sectab.gif) no-repeat;}

ul.tabbernav li a#undefinednav1:hover,
ul.tabbernav li a#undefinednav2:hover,
ul.tabbernav li a#undefinednav3:hover,
ul.tabbernav li a#undefinednav4:hover {background-position: 0 -67px;}

ul.tabbernav li.tabberactive a#undefinednav1,
ul.tabbernav li.tabberactive a#undefinednav2,
ul.tabbernav li.tabberactive a#undefinednav3,
ul.tabbernav li.tabberactive a#undefinednav4, 
ul.tabbernav li.tabberactive a#undefinednav1:hover,
ul.tabbernav li.tabberactive a#undefinednav2:hover,
ul.tabbernav li.tabberactive a#undefinednav3:hover {background-position: 0 -132px;}

ul.tabbernav li.tabberactive a#undefinednav4,
ul.tabbernav li.tabberactive a#undefinednav4:hover {background-position: 0 -133px;}

#learnmorelink a {position:absolute; color:#fff; font-weight: bold;}
#learnmorelink .simple_more {top:80px; left:340px;}
#learnmorelink .reliable_more {top:60px; left:350px;}
#learnmorelink .powerful_more {top:83px; left:385px;}
#learnmorelink .secure_more {top:80px; left:400px;}


/* AB TEST */

#POcontarea {float:left;  height:295px; background: #fff url("three_promotions_contareabk.jpg") no-repeat; text-align:left;}
	.POcontblockA {float:left; width:250px; padding:40px 0px 10px 20px; }
		.POcontblockA h2 {font-size:1em; font-weight:normal; font-family:Arial, Helvetica, sans-serif; color:#000;}
		.POcontblockA p {font-size:0.88em;  font-family:Verdana, Arial, Helvetica, sans-serif; }
		.contblockA a.toplink {font-weight:bold; color:#0c456a; text-decoration:none;}
		.contblockA img {margin:0px; text-align:center;}
	.POcontblockB {float:left; width:250px; padding:40px 0px 10px 20px; text-align:center;}
		.POcontblockB h2 {font-size:1em; font-weight:normal; font-family:Arial, Helvetica, sans-serif; color:#000;}
		.POcontblockB p {font-size:0.88em;  font-family:Verdana, Arial, Helvetica, sans-serif;text-align:left; }
		.POcontblockB a.toplink {font-weight:bold; color:#0c456a; text-decoration:none;}
		.POcontblockB img {margin:0px; text-align:center;}
	.POcontblockC {float:left; width:250px; padding:40px 0px 0px 20px; background: transparent;}
		.POcontblockC h2 {font-size:1em; font-weight:normal; font-family:Arial, Helvetica, sans-serif; color:#000;}
		.POcontblockC p {font-size:0.88em; font-family:Verdana, Arial, Helvetica, sans-serif; }
		.POcontblockC a.toplink {font-weight:bold; color:#0c456a; text-decoration:none;}
		.POcontblockC img {margin:0px; text-align:center;}

/* \AB TEST */


#contarea {float:left; background: #fff url("contareabkg.gif") no-repeat; text-align:left;}
	.contblockA {float:left; width:239px; padding:31px 26px 31px 26px;}
		.contblockA h2 {font-size:1.4em; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#000;}
		.contblockA p {font-size:0.88em; line-height: 1.8; font-family:Verdana, Arial, Helvetica, sans-serif; }
		.contblockA a.toplink {font-weight:bold; color:#0c456a; text-decoration:none;}
		.contblockA img {margin:10px 30px 10px 30px; text-align:center;}
	.contblockB {float:left; width:200px; padding:31px 0px 0 13px; line-height:1.1; text-align:center;}
		.contblockB h2 {color:#165e89; font-size:2.2em; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
		.contblockB span.orangetext {color:#fc9b10; font-size:2em; font-weight:bold;  font-family:Verdana, Arial, Helvetica, sans-serif; margin:0; padding:0; display:block;}
		.contblockB p.spectext {color:#da2109; font-size:.9em; font-weight:bold; padding:20px 0 0 0;}
		.contblockB .regbtn {padding:20px 0 0 0;}
	.contblockC {float:left; width:229px; padding:31px 36px 31px 53px; background: transparent;}
		.contblockC h2 {font-size:1.4em; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#000;}
		.contblockC ul {padding: 0; margin: 0; list-style-type: none;}
			.contblockC ul li {padding:3px 0 3px 10px; font-size:0.88em; line-height: 1.4; font-family:Verdana, Arial, Helvetica, sans-serif; background: url("bullet.gif") no-repeat; background-position: 0 8px;}
		span.price {color:#e80f0f; font-weight:bold;}
		.contblockC span.muchmorelink a {float:right; text-decoration:underline;}
		.vidbtn {padding:16px 0 0 0;}

#main { width:560px; margin:10px 0 60px 0; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif; text-align: left;
	float: right;
	right: 110px;
}
#main h1 {color:#FC9400; text-align: center; font-family:Arial, Helvetica, sans-serif; font-size: 1.4em; font-weight: bold; padding:0 0 10px 0;border-bottom: 1px dashed #FC9400; width:98%}
#main h2 {color:#000; font-size: 1.075em; color:#333; font-weight: bold; padding-top: 10px; border-bottom: 1px dashed #333; width:98%}
#main h2.numbered {margin:5px 0 0 0;}
#main h2.numbered span{color:#666; font-size: 1.075em; font-weight: bold; vertical-align:top;}
#main h2.numbered img{padding: 0 10px 0 0; vertical-align:bottom}
#main h3 {padding:3px 0 3px 10px; font-weight: normal;}
#main p, blockquote p{padding:10px; font-size: 0.88em; line-height: 1.8em; }
blockquote {font-style:italic; color:#646260;}
#main ul {padding: 10px; margin: 0; list-style-type: none;}
#main ul li {padding:3px 0 3px 10px; font-size: 0.88em; line-height: 1.8em; background: url("bullet.gif") no-repeat; background-position: 0 8px; color:#646260;}

#main2 {width:560px; margin:10px auto; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif; text-align: left;}
#main2 h1 {color:#FC9400; text-align: center; font-family:Arial, Helvetica, sans-serif; font-size: 1.4em; font-weight: bold; padding:0 0 10px 0;border-bottom: 1px dashed #FC9400; width:98%}


div.dashed {width:540px; border-top: 1px #666 dashed; height:1px; padding: 0 0 10px 11px; margin:0} 

.signbtn {text-align:center; margin:0; padding:40px 0 0px 0;}
.divide {border-bottom:1px solid #DCECF7; width:95%; padding:10px 0;}
p.testiclient {font-weight:bold; background:#f3f9fb; clear:both;}
a.testilink {}
.testimg {float:left; margin:0 10px 5px 0px; border:3px solid #e0e9ed;}

#main #featuredtourblock {width:95%;}
#main #featuredtourblock ul {padding:0; margin:0; list-style-type:none;}
#main #featuredtourblock ul.featuretourlinks li {float:left; width:49%; display:inline; padding:0; margin:0; background:url("right_arrow.gif") 5px center no-repeat;}
#main #featuredtourblock ul.featuretourlinks li a {display:block; padding-left: 25px;}
#main #featuredtourblock ul.featuretourlinks li a:hover {text-decoration:underline;}

	
#sub {float:left; width:256px; margin:10px 0 30px 0; text-align: left;}
#navback {width:238px; height:328px; background:  url("navbkg.gif") no-repeat; margin: 0 0 0 7px;}
#leftnav {width:238px; padding:10px 0 10px 0;}
#leftnav h2 {display:block; padding:5px; color:#FC9400; background: #f5fafc url("arrow.gif") no-repeat; background-position: 175px 8px; font-size: 12px; font-weight: bold;}
#leftnav ul {margin: 0; padding: 0; list-style-type: none;}
#leftnav li {padding:0; margin:0; width:238px; font-size: .9em; line-height:1.4}
#leftnav li a {width:222px; padding:5px 0pt 5px 15px; border-bottom: 1px solid #d8e4ed; display: block; color: #646260; text-decoration: none;  font-weight: bold;}
#leftnav li a:hover {text-decoration: underline; background: #dcecf7;}
#leftnav h2 {color: #FC9400;}

#leftnav h2 a {color: #FC9400; font-weight: bold;text-decoration:none;}

#leftnav h2 a:hover {text-decoration:underline;}

#leftnav #subnav ul {}
#leftnav #subnav li {font-size:.88em;}
#leftnav #subnav li a {font-weight:normal;}
#leftnav #subnav li a:hover {text-decoration:underline; background:#e6f1f9;}

#leftnav li a.active, #leftnav #subnav li a.active {color:#175595; text-decoration:underline;}

.imgpad {padding:0px 0 0 38px;}
	
#footer { background: #fff; text-align: center; clear:both; background: #fff;
}
	#footer a {}
	#footer p {}
	#footer p.trialinfo { color:#929496; font-style:italic; font-size:.8em; padding-top:10px }
	.copyrightinfo {}

/* footer sitemap nav -------------------------------------*/
#sitemap {margin:10px 0 0 0;}
	ul#sitemap_top { padding: 10px 0; margin: 0; list-style-type: none; width: 100%; text-align: center; font-size:0.88em; background:url(1px_lt_blue_grad.gif) top left repeat-x; border-top:1px #9cf solid; }
	ul#sitemap_top li { display: inline; }
	ul#sitemap_top li a {text-decoration: none; color: #060606; padding: 10px 8px; text-align:center}
	ul#sitemap_top li a:hover {color: #000; text-decoration: underline;}

	ul#sitemap_mid { padding: 10px 0px 10px ; margin: 0; list-style-type: none; width: 100%; text-align: center; font-size:.73em; }
	ul#sitemap_mid li { display: inline; }
	ul#sitemap_mid li a {text-decoration: none; color: #124465; padding: 12px 8px; background: transparent;}
	ul#sitemap_mid li a:hover {color: #000; text-decoration: underline;}

	ul#sitemap_btm { padding: 15px 0; margin: 0; list-style-type: none; width: 100%; text-align: center; font-size:.88em;}
	ul#sitemap_btm li { display: inline; }
	ul#sitemap_btm li a {text-decoration: none; color: #124465; padding: 10px 8px; background: transparent;}
	ul#sitemap_btm li a:hover {color: #000; text-decoration: underline;}

	/*ul#sitemap_btm li.reg a {color:#e80f0f;}*/
	ul#sitemap_btm li.reg a {color:#124465; font-weight:bold}
	ul#sitemap_btm li.signin a {color:#e80f0f; font-weight:bold}
	ul#sitemap_btm li.contact a {color:#000000;}
	/*
	ul#sitemap_btm li.reg a {color:#e80f0f; font-weight:bold;}
        ul#sitemap_btm li.signin a {color:#fff; font-weight:bold; background:#124465;}
        ul#sitemap_btm li.contact a {color:#000000; font-weight:bold;}
	*/
#sitemap ul#sitemap_top li a.active, #sitemap ul#sitemap_mid li a.active, #sitemap ul#sitemap_btm li a.active {color:#FC9400; }		 

/* Forms */

div#formcont {width: 495px; background-color: #E6F1F9; border: 1px dotted #D7E6F1; padding: 5px; margin: 0px auto;}
div.row {clear: both; padding-top: 5px;}
div.row span.label {float: left; width: 150px; text-align: left; font-size: 0.88em; line-height: 1.2em;}
div.row span.formw {float: right; width: 315px; text-align: left; } 
div.spacer {clear: both;}
div.subbtn {float:right;}


