/* @override http://include.ebaystatic.com/v4css/en_US/e561/CCHP_HomepageV4_SLDR_e5616447996_en_US.css */

body, .g-std {font-family:Arial, Helvetica, sans-serif; font-size:small}
form {margin:0; padding:0}
a:active, a:link, .g-novisited a:visited {color:#00c; text-decoration:none}
a:visited {color:#909}
.g-b {font-weight:bold}
.g-em {color:#090; font-weight:bold}
.g-err {color:#f00}
.g-hlp {color:#666}
.g-pipe {color:#99f}
.g-txtBx, .g-btn, .g-nav {font-family:Verdana; font-size:x-small}
.g-txtBxHlp {color:#666; font-family:Verdana; font-size:x-small}
.g-m0 {margin:0}
a:hover {text-decoration:underline}
.g-i {font-style:italic}
.g-bi {font-weight:bold; font-style:italic}
.g-dft {font-weight:normal}
.g-dfti {font-weight:normal; font-style:italic}
.g-s {font-size:small}
.g-xs {font-size:x-small}
.g-m {font-size:medium}
.g-l {font-size:large}
.g-xl {font-size:x-large}
.portlet {margin:3px; clear:both}
.portlet .ptitle {border:2px solid blue; border-bottom-style:none; background-color:green; padding:2px; overflow:hidden}
.portlet .ptitle_l {font-family:Arial, Helvetica, sans-serif; font-size:small; color:#fff; font-weight:bold; float:left; display:inline-block}
.portlet .ptitle_r {float:right; background-repeat:no-repeat; background-position:center; display:inline-block; vertical-align:middle}
.portlet .pcontent {padding:2px; border-left:2px solid blue; border-right:2px solid blue; border-bottom:2px solid blue}
.mtitle {font:bold medium arial; color:#fff}
.morelinkcontainer {width:100%; text-align:right; height:15px; background:#f2f2f2 url(http://pics.ebaystatic.com/aw/pics/globalAssets/imgPanelBGGreyGrad.gif) repeat-x scroll bottom; border-top:1px solid #dedede}
.sidespacer {padding:0px 15px 0pt 0pt; position:relative; bottom:-5px; z-index:1}
.catContent {padding:15px}
#categories .hprcp_n {width:100%}
.leftIdt {padding-left:15px}
.subtitle {padding:10px 15px 0 15px; color:#666; font:bold small}
.subtitle .line {margin-top:5px; border-bottom:1px solid #ccc}
.subtitle hr {background-color:#ccc; padding:0; margin:0; height:1px; border:0}
.othereBayCompanies {padding:15px 0 10px 15px}
.otherSites {padding:10px 15px 5px 15px}
.worldMap {vertical-align:middle}
.leftrightIdt {padding:0 15px 0 15px}
#worldofebay form {display:inline}
#connectlearn {margin-bottom:10px}
.leftpanel {float:left; width:50%}
.rightpanel {margin-left:50%}
#marketplace .body {width:100%; padding-bottom:15px}
#marketplace .leftpanel {float:left; width:50%}
#marketplace .rightpanel {margin-left:50%}
.footerlinks {color:#99f; margin-bottom:15px}
.footerlinksnopad {color:#99f; margin-bottom:5px}
body, div, span, ul, ol, dl, h1, h2, h3 {font-family:Arial, Helvetica, sans-serif; font-size:small}
.NarrowSectionContainer a:link, .WideSectionContainer a:link, .footerlinksnopad a:link, .footerlinks a:link, .catContent a:link {font:normal small Arial; color:#00c; text-decoration:none}
.NarrowSectionContainer a:visited, .WideSectionContainer a:visited, .footerlinksnopad a:visited, .footerlinks a:visited, .catContent a:visited {font:normal small Arial; color:#606; text-decoration:none}
.NarrowSectionContainer a:hover, .WideSectionContainer a:hover, .footerlinksnopad a:hover, .footerlinks a:hover, .catContent a:hover {font:normal small Arial; color:#00c; text-decoration:underline}
.NarrowSectionContainer a:active, .WideSectionContainer a:active, .footerlinksnopad a:active, .footerlinks a:active, .catContent a:active {font:normal small Arial; color:#00c; text-decoration:none}
.ClearBoth {clear:both}
.ContentContainer {width:930px; margin:0px; padding:0px 0px 10px 0px; position:inherit; text-align:left}
.WideSectionContainer {float:right; display:inline; margin:0px; padding:0px; width:615px}
.NarrowSectionContainer {float:left; margin:0px; padding:0px; width:300px}
#BottomContainer {padding-top:15px}
.ContentContainer a:link {text-decoration:none}
.ContentContainer a:hover {text-decoration:underline}

/* en_US/e561/CCHP_HomepageV4_SLDR_e5616447996_en_US */
/* b=6447996 */