

/* fancyform styles */
.demo label{display:block;padding:0.5em;padding-left:32px;background-position:8px center;background-repeat:no-repeat;border:1px solid #252525;clear:both;cursor:pointer;
	color: white;
}
.checked{background-color:#222;background-image:url(http://images.imerrow.com/images/chk_on.png)}
.unchecked{background-color:#1c1c1c;background-image:url(http://images.imerrow.com/images/chk_off.png)}
.selected{background-color:#222;background-image:url(http://images.imerrow.com/images/rdo_on.png)}
.unselected{background-color:#1c1c1c;background-image:url(http://images.imerrow.com/images/rdo_off.png)}
.leftcol{float:left;clear:left;width:50%}
.rightcol{float:left;clear:right;width:50%}
div.section.demo {
	background-color: #e6e6e6;
	height: 350px;
}
