body {
	background-color: #ffffff;
}

#pageWrap {
	position: relative;
	padding-top: 8px;
	width: 914px;
}


/* STANDARD FONT HANDLING */	

h1, h2, h3, h4, p, li, input, select, textarea, table, a {
	font-family: arial, sans-serif;
	color: #333;
}

h1 {
	margin-bottom: 14px;
	font-size: 188%;
	color: #5e5e5e;
}

h2 {
	color: #595959;
	font-size: 94%;
}

p input, p label, ul li ul li, table p, p select {
	font-size: 100%;
}

p {
	line-height: 1.4em;
	margin: 0;
	padding: 0 0 1.1em;
}

a {
	text-decoration: none;
	color: #0033cc;
}

a:hover {
	text-decoration: underline;
}


/***** Header *****/

.header p {
	font-size: 75%;
	color: #ffffff;
	padding: 0px;
	margin: 0px;
}


.header p.logo {
	margin: 7px 0px 13px 0px;
	overflow: hidden;
	display: block;
	height: 45px;
	width: 252px;
	float: left;
}

.header p.logo a {
	background: url(/files/aruba_logo.gif) top left no-repeat;
	padding: 14px 0 0px 411px;
	font-weight: normal;
	overflow: hidden;
	height: 45px;
	width: 252px;
	display: block;
}

.header iframe {
	overflow: hidden;
	float: right;
	border: 0 none;
}

/***** Nav *****/
ul.nav {
	position:relative;
	z-index:100;
}

/* style the links for the top level */
ul.nav a, ul.nav a:visited {
	border-right: solid #d2d2d2 1px;
	color:#666666;
	display:block;
	font-weight:bold;
	padding:9px 12px 9px 12px;
}

ul.nav {
	background: url(http://images.imerrow.com/images/navRibbon_DS.jpg) no-repeat left;
	clear: both;
	list-style-type:none;
	margin: 0px;
	padding: 7px 0px 0px 0px;
}


ul.nav ul {
	background:url(https://www.ebaypartnernetwork.com/files/hub/img/navBtmCrv.gif) bottom left no-repeat;
	margin:0;
	padding:0;
	width:122px;
}

ul.nav li {
	float:left;
	margin:0;
	padding:0;
	position:relative;
}

ul.nav li a.selected,
ul.nav li.selected {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/navBgOvr.gif) bottom right no-repeat;
	text-decoration: none;
	color: #000000;
}

ul.nav li a:hover {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/navBgOvr.gif) bottom right no-repeat;
	text-decoration: none;
	color: #000000;
}

ul.nav li ul li {
	background: #fff;
	display: block;
	width: 122px !important;
}

ul.nav li ul li a {
	background:#fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	color: #0033cc !important;
	font-size: 95%;
	font-weight: normal !important;
	display: block;
}

ul.nav li ul li a:hover {
	background: #f1f1f1;
	color:#0033cc;
	text-decoration: underline;
}

ul.nav li ul li.lastNav { background:none; }

ul.nav li ul li.lastNav a {
	background: transparent url(https://www.ebaypartnernetwork.com/files/hub/img/navBtmCrv.gif) bottom left no-repeat !important;
	border: none !important;
	display: block;
}

ul.nav li ul li.lastNav a:hover {
	background: transparent url(https://www.ebaypartnernetwork.com/files/hub/img/navBtmCrvOvr.gif) bottom left no-repeat !important;
	border: none;
	color: #0033cc;
	text-decoration: underline;
}

/* hide the sub levels and give them a positon absolute so that they take up no room */
ul.nav ul {
	height:0;
	left:-1px; 
	position:absolute;
	top:32px;
	visibility:hidden;
	width:122px;
}

/* style the table so that it takes no part in the layout - required for IE to work */
ul.nav table {
	border-collapse:collapse;
	left:0; 
	position:absolute; 
	top:0; 
}

/* make the second level visible when hover on first level list OR link */
ul.nav li:hover ul,
ul.nav a:hover ul{
	visibility:visible;
}

ul.nav li.dDown a span {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/arrowDwn.gif) right no-repeat;
	padding-right: 20px;
}

ul.nav li.dDown a:hover span, ul.nav li.selected a span { background: url(https://www.ebaypartnernetwork.com/files/hub/img/arrowDwnOvr.gif) right no-repeat; color: #000; }
ul.nav li.first a { background: url(https://www.ebaypartnernetwork.com/files/hub/img/navLftCrv.gif) bottom left no-repeat; }
ul.nav li.first a.selected { background: url(https://www.ebaypartnernetwork.com/files/hub/img/navLftCrvOvr.gif) bottom left no-repeat; color: #000;}
ul.nav li.first a:hover { background: url(https://www.ebaypartnernetwork.com/files/hub/img/navLftCrvOvr.gif) bottom left no-repeat; }
ul.nav li.last a:hover { background: url(https://www.ebaypartnernetwork.com/files/hub/img/navRghtCrvOvr.gif) bottom right no-repeat; }
ul.nav li.last a.selected { background: url(https://www.ebaypartnernetwork.com/files/hub/img/navRghtCrvOvr.gif) bottom right no-repeat; color: #000; }
ul.nav li.blogHelp { float: right; }
ul.nav li.blogHelp a { border-left: solid #d2d2d2 1px; }
ul.nav li.blogHelp a.noLeftB { border-left: none; }
ul.nav .last a { background: url(https://www.ebaypartnernetwork.com/files/hub/img/navRgtCrv.gif) bottom right no-repeat; }
ul.nav li.last a { border: none; }


/***** Main Content *****/

.content {
	clear: both;
	position: relative;
	padding-top: 15px;
}

.mainCol {
	float: left;
	width: 598px;
}

.rightCol {
	padding-left: 12px;
	width: 303px;
	float: left;
	position: relative;
}

/* Marketing images */

.mainCol p.mrktgTxt {
	line-height: 0.9em;
	letter-spacing: -0.04em;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 220%;
	color: #ffffff;
	width: 597px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.mainCol p.mrktgTxt span.sub {
	letter-spacing: -0.01em;
	font-weight: normal;
	font-size: 65%;
	display: block;
}

.mainCol span.girlInField {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/mrktg/girlInField.jpg) top left no-repeat;
	padding: 25px 0 0 295px;
	height: 113px;
	display: block;
}

.mainCol span.girlInField span.sub {
	position: relative;
	margin-left: -25px;
	margin-top: 0;
	line-height: 90%;
	text-align: center;
}

.mainCol span.sittingGirl {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/mrktg/sittingGirl.jpg) top left no-repeat;
	padding: 20px 0px 10px 348px;
	height: 98px;
	display: block;
}

.mainCol span.sittingGirl span.sub {
	position: relative;
	margin-left: -46px;
}

.mainCol span.girlOnLeaves {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/mrktg/girlOnLeaves.jpg) top left no-repeat;
	padding: 30px 0px 5px 290px;
	height: 93px;
	display: block;
}

.mainCol span.girlOnLeaves span.sub {
	position: relative;
	margin-left: 5px;
	margin-top: -10px;
}

.mainCol span.sittingGuy {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/mrktg/sittingGuy.jpg) top left no-repeat;
	padding: 22px 0px 10px 268px;
	height: 96px;
	display: block;
}

.mainCol span.sittingGuy span.sub {
	position: relative;
	margin-left: -46px;
	margin-bottom: -5px;
}

.mainCol span.smilingGirl {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/mrktg/smilingGirl.jpg) top left no-repeat;
	padding: 10px 0px 0 298px;
	height: 118px;
	display: block;
}

.mainCol span.smilingGirl span.sub {
	position: relative;
	margin-left: 60px;
	margin-top: -2px;
}

.mainCol span.smilingGirl span.sub1 {
	position: relative;
	font-weight: normal;
	font-size: 65%;
	margin-left: 33px;
	margin-top: -10px;
	display: block;
}

/* Homepage image */

.content .mainCol .homeImg {
	width: 598px;
	height: 187px;
}

.content .mainCol .homeImg0 { background: url(https://www.ebaypartnernetwork.com/files/hub/img/mrktg/homepageImg1.jpg); }
.content .mainCol .homeImg1 { background: url(https://www.ebaypartnernetwork.com/files/hub/img/mrktg/homepageImg2.jpg); }
.content .mainCol .homeImg2 { background: url(https://www.ebaypartnernetwork.com/files/hub/img/mrktg/homepageImg3.jpg); }
.content .mainCol .homeImg3 { background: url(https://www.ebaypartnernetwork.com/files/hub/img/mrktg/homepageImg4.jpg); }
.content .mainCol .homeImg4 { background: url(https://www.ebaypartnernetwork.com/files/hub/img/mrktg/homepageImg5.jpg); }

.content .mainCol .homeImg h1 {
	letter-spacing: -0.04em;
	line-height: .8em;
	position: absolute;
	margin-bottom: 0;
	font-size: 220%;
	color: #ffffff;
	left: 295px;
	top: 55px;
	z-index: 2;
	text-align: center;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.content .mainCol .homeImg h1 span {
	display: block;
	font-size: 67%;
	font-weight: normal;
	letter-spacing: normal;
	text-transform: none;
}

.mainCol ul.partner {
	margin: 0;
	padding: 15px 0 0;
	list-style-type: none;
}

.mainCol ul.partner li {
	float: left;
	display: block;
	width: 240px;
	border-right: 1px solid #ccc;
	padding: 0 21px;
	margin: 0;
}

.mainCol ul.partner li a.ebay {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/logoEbay.gif) left 15% no-repeat;
	padding: 0 0 20px 80px;
	float: left;
}

.mainCol ul.partner li a.halfcom {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/logoHalfCom.gif) left 10% no-repeat;
	padding: 0 0 20px 90px;
	float: left;
}


/* Large containers */

.mainCol .lrgMid {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/lrgMid.gif) top left repeat-y;
	width: 597px;
	float: left;
	margin-top: 15px;
}

.mainCol .firstItem {
	margin-top: 0px;
}

.mainCol .lrgBtm {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/lrgBtm.gif) bottom left no-repeat;
	padding-bottom: 12px;
}

.mainCol .lrgTop {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/lrgTop.gif) left 1px no-repeat;
	padding: 15px;
}

.mainCol .lrgYellowFadeTop {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/lrgYellowFadeTop.jpg) top left no-repeat;
	padding: 15px;
}

.mainCol .lrgYellowFadeTop h2 {
	font-size: 150%;
	color: #333;
}

.mainCol .lrgGreenTop {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/lrgGreenTop.jpg) top left no-repeat;
	padding: 15px 15px 10px 15px;
}

.mainCol .terms h1 {
	color: #5e5e5e;
	font-size: 150%;
}

.mainCol .terms h2 {
	color: #333;
	font-size: 85%;
}

.mainCol .terms h3 {
	color: #333;
	font-size: 80%;
}

.mainCol .terms ul {
	margin: 0;
	padding: 0 0 15px 25px;
}

.mainCol .terms ul li {
	line-height: 1.4em;
}

p.joinUs {
	text-align: center;
	margin: 0;
	padding: 0;
}

p.commission {
	color: #690;
	font-weight: bold;
	font-size: 225%;
	line-height: 100%;
	margin: 0;
	padding: 12px 15px 10px 0;
}

p.commission span{
	color: #333;
	font-weight: normal;
	font-size: 50%;
	line-height: 130%;
	display: block;
	padding-top: 9px;
}

/* Price splash on home page */

.lrgMid .lrgBtmShade {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/lrgBtmShade.jpg) bottom left no-repeat;
	padding: 0;
	margin: 0;
}
	
.lrgBtmShade p.commission {
	color: #690;
	font-weight: bold;
	font-size: 185%;
	line-height: 100%;
	margin: 0;
	padding: 0 15px 0 4px;
}

.lrgBtmShade p.commission span{
	font-weight: normal;
	color: #690;
	font-size: 100%;
	line-height: 100%;
	display: inline;
}

.lrgMid p.view {
	border-top: solid #cfcfcf 1px;
	padding: 6px 13px 0 0;
	margin: 0 -14px;
	text-align: right;
	clear: both;
}

.lrgMid p.view a { color: #0101cd; }
	
.lrgBtmShade ul.commissionList {
	margin: 0;
	padding: 17px 0 17px 6px;
}

.lrgBtmShade ul.commissionList li {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/bulletBlack.gif) left 4px no-repeat;
	padding: 0 0 5px 11px;
	list-style: none;
}
	
.lrgBtmShade ul.commissionList li span {
	font-weight: bold;
}

/* Join us box on home page */

.joinTopHome {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/smlBlueTop.jpg) top left no-repeat;
	padding-bottom: 0;
	width: 304px;
}

.joinBtmHome {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/smlBtm.gif) bottom left no-repeat;
	text-align: center;
	padding: 22px 15px;
}

.joinBtmHome h3 {
	color: #333;
	font-size: 150%;
	line-height: 100%;
	text-align: center;
	margin: 0;
	padding: 0 10px 14px;
}

.joinBtmHome p {
	margin-bottom: 3px;
	padding: 0px 45px;
}

.joinBtmHome p.btnLnk {
	padding: 4px 0px 0px 0px;
	margin-bottom: 0px;
}

.joinBtmHome .btnLnk a {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/joinBtnBtm.gif) center bottom no-repeat;
	margin: 4px 0px 0px 0px;
	padding:  0px;
	font-weight: bold;
	font-size: 148%;
	color: #333333;
	display: block;
}

.joinBtmHome .btnLnk a span {
	background: url(https://www.ebaypartnernetwork.com/files/hub/img/joinBtnTop.gif) center top no-repeat;
	padding: 9px 22px 10px 22px;
	display: block;
	margin: 0px auto;
}

.joinBtmHome .btnLnk a:hover span {
	color: #0033cc;
}

.joinBtmHome .btnLnk a {
	text-decoration: none;
}

#pageWrap div.content.contain div.mainCol.contain div.lrgMid div.lrgBtm div.lrgTop.contain div.imgTxt.tool div.section.demo form div.formtext div.greyMain div.greyTop div.greyBtm h2 {
	margin-top: 88px;
}


/***** Footer *****/

.footer {
	border-top: 1px solid #c1c1c1;
	padding-top: 16px;
	margin-top: 34px;
	clear: both;
}

.footer p {
	color: #6e6e6e;
	font-size: 70%;
	margin: 0;
	padding: 0 0 5px;
}
