BODY, TD	{
	font-size : 13px;
	color: #000000;
	font-family : Arial, Verdana, Helvetica, sans-serif;
}

.tdredtitle{
	font-size : 15px;
	color: #FFFFFF;
	font-weight : bold;
	background-color : #CC0033;
}
.tdredrow{
	color: #FFFFFF;
	background-color : #CC0033;
}
.tdredbold {
	color: #CC0033;
	font-weight : bold;
	text-align : right;
}
.tdblue{
	color: #FFFFFF;
	background-color : #000099;
}

.tdbluebold {
	color: #000099;
	font-weight : bold;
	text-align : right;
}
.address {
	color: #000000;
	font-size: 11px;
	font-weight: normal;
	text-align : center;
}

/* Default */
A:LINK, A:VISITED {
	color: #000000;
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
}
A:HOVER {
	color: #990033;
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
}
