div.exhibit-collectionView-header {
	position: relative;
	bottom: 25px;
	left: 160px;
}
div.exhibit-viewPanel-viewSelection {
    text-align: center;
	margin-top: 10px;
	margin-left: 10px;
}
div.name {
	width: 200px;
}
#bar div div.exhibit-text-facet input {
	height: 30px;
	width: 300px;
	margin-top: 10px;
	position: relative;
	right: 140px;
}
div#seachheader.h2 {
	color: gray;
	font-size: 16px;
	text-align: left;
}
div.exhibit-collectionView-header-sortControls {
    text-align:     center;
	float: left;
	visibility: hidden;
}
table.nobelist {
	width: 500px;
}