body {
	padding: 0;
	margin: 0;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
td {
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
a {
	padding: 0;
	margin: 0;
	font-family: Verdana;
    text-decoration: none;
	color: #444444;
	font-size: 10px;
}
.border {
	border: 1px solid #777777;
}
.selected {
    font-weight: bold;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
.not_selected {
    font-weight: normal;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
.dark {
	background-color: #B5CCD8;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
.medium {
	background-color: #C5DCE8;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
.light {
	background-color: #D5ECF8;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}
.bg {
	background-image: url(../images/monitor_bg.gif);
	background-repeat: repeat-x;
	font-family: Verdana;
	color: #444444;
	font-size: 10px;
}