vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Nov 2002 16:46:59 -0000
vti_extenderversion:SR|5.0.2.4330
vti_usagebymonth:UX|1 44 43 18 107
vti_usagebyweek:UX|1 0 0 41 3
vti_usagebyday:UX|0 0 0 0 0 1
vti_usagelastupdated:TX|09 Mar 2005 04:59:59 -0000
vti_usagetotalhits:IX|213
