/* @override http://merrow.com/cephei/css/forms/form_a.css */

/* @override http://merrow.com/cephei/css/forms/form_a.css */

/* @override 
	http://merrow.com/cephei/form_folder/files/themes/blue.css
	http://merrow.com/cephei/css/forms/form_a.css
*/

/*
   ----------------------------------------------------------------
   GBCF-V3 BLUE STYLE SHEET - MIKE CHERIM HTTP://GREEN-BEAST.COM
   ----------------------------------------------------------------
   To use for testing, this stylesheet must be named default.css
*/



/* === form div and elements ======================================= */

.spiffy{display:block}
.spiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#ffe57d}
.spiffy1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #fff3c7;
  border-right:1px solid #fff3c7;
  background:#ffeb9d}
.spiffy2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #fffcf2;
  border-right:1px solid #fffcf2;
  background:#ffe995}
.spiffy3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #ffe995;
  border-right:1px solid #ffe995;}
.spiffy4{
  border-left:1px solid #fff3c7;
  border-right:1px solid #fff3c7}
.spiffy5{
  border-left:1px solid #ffeb9d;
  border-right:1px solid #ffeb9d}
.spiffyfg{
  background: #f2f2f2;
	position: relative;
}


#form-div {
	position: relative;
}

div#love.bigform {
	position: relative;
	left: 10px;
}

#form-div p.form-footer {
	margin-top: -35px;
	margin-left: 13px;
	margin-right: 2px;
}

#form-div p.form-footer a { 
  color : #003366; 
}

#form-div p.form-footer a:hover, #form-div p.form-footer a:focus, #form-div p.form-footer a:active { 
  color : #000; 
  text-decoration : none; 
}

#form-div p.form-footer a:focus, #form-div p.form-footer a:active { 
  background-color : #eee; 
}


/* === form div link styles ======================================== */

#form-div a { 
  color : #003366; 
}
  
#form-div a:hover, #form-div a:focus, #form-div a:active { 
  color : #000; 
  text-decoration : none; 
}

#form-div a:focus, #form-div a:active { 
  background-color : #eee; 
}


/* === success and error message/results box ======================= */

#form-div p.success, #form-div p.error, #form-div p.center { 
  color : #fff;
  /* color : #000; (lite colors option - uncomment to use) */
  padding : 1px 4px; 
  border : 1px solid #000; 
  background-color : #003366;
  /* background-color : #bfccd9; (lite colors option - uncomment to use) */
  margin : 10px 3px;
  text-align : center;
}

#form-div p.error { 
  background-color : #bb0000; 
  /* background-color : #edbaba; (lite colors option - uncomment to use) */
}

#form-div p.error a, #form-div p.success a {
  color : #ffff7f;
}

#form-div p.center {
  text-align : center;
  background-color : #edbaba;
  color : #000;
  margin-top : -3px;
  padding : 0px 4px; 
}

#form-div p.error a:hover, #form-div p.error a:focus, #form-div p.error a:active, 
#form-div p.success a:hover, #form-div p.success a:focus, #form-div p.success a:active {
  color : #eee;
  background-color : #bb0000; 
}

#form-div p.success a:hover, #form-div p.success a:focus, #form-div p.success a:active {
  background-color : #003366; 
}


/* === structural form elements ==================================== */

form#gbcf-form {
	position: relative;
}

div#entrypoint1.nameemail {
	display: block;
	position: relative;
	top: 240px;
	width: 350px;
}

div#blot.spam {
	position: relative;
	top: 110px;
}

div#textentry.required2 {
	position: relative;
	bottom: 100px;
	width: 600px;
	height: 240px;
}



textarea#message.textarea {
	width: 600px;
	height: 140px;
}

div#entrypoint.optional {
	position: relative;
	background-color: #649881;
	border-style: dotted;
	border-color: white;
	float: right;
	right: 23px;
	font-size: 10px;
	height: 390px;
	padding-left: 10px;
	padding-right: 10px;
	bottom: 20px;
}

div#whole.wholeform {
	position: relative;
	display: block;
}

div#fields.enter {
	position: relative;
	bottom: 1px;
	float: left;
	margin-top: 60px;
}



/* === textural form elements ====================================== */

#form-div legend { 
  font-weight : bold;
}

#form-div legend span {
	color: white;
}
#policy img {
	position: relative;
	bottom: 430px;
	left: 690px;
}

div#textblock.privacytext {
	width: 800px;
}

div#warning.required {
	color: #0f7;
	font-size: 10px;
	font-variant: small-caps;
	visibility: hidden;
}

legend.main-legend { 
  color : #777;
  font-size : 110%;
}

legend.req-legend,
legend.opt-legend { 
  color : #777;
}

legend.main-legend span { }
legend.main-legend { }

legend.req-legend span { }
legend.req-legend {
  margin-left : -2px;
}

legend.opt-legend span { }
legend.opt-legend { 
  margin-left : -2px;
}

label.req-label, label.opt-label {
  color : black;
	font-weight: bold;
	position: relative;
}

label.opt-label.check {
  float : right;
  padding : 0;
  margin : 1px 4px;
  cursor : pointer;
}

label.opt-label.main-label {
	background-color: white;
	position: relative;
	display: inline;
}

label.opt-label.main-label span {
  font-weight : normal;
  color : #666;
}

label.opt-label.main-label span.req, label span.req  {
  font-weight : bold;
  color : #c70000;
}

label.req-label.explain {
  color : #666;
  font-size : .8em;
}

label.req-label.explain:hover {
  color : #000;
}

/* === control and interface form elements ========================= */
/*
  note: In this section you will see the hover/focus styles for the 
  inputs. For example: input:hover, input:focus. You will also see 
  these names applied as classes: input.hover, input,focus, for 
  example. This is not done by mistake. Those classes are needed for 
  the JavaScript focus script (files/focus.js) for IE 7 and older.
*/

input.text-long.address, input.text-long.address:hover, input.text-long.address:focus,
input.text-long.address.hover, input.text-long.address.focus {
  border-bottom : 0;
  margin-bottom : 0;
  padding-bottom : 2px;
  border-bottom : 1px dotted #bbb;
}

input.text-long.address2, input.text-long.address2:hover, input.text-long.address2:focus,
input.text-long.address2.hover, input.text-long.address2.focus {
  border-top : 0;
  margin-top : 0;
  padding-top : 2px;
  border-top : 1px dotted #bbb;
}

input.checkbox {
  border : 1px solid #999;
  width : .9em;
  height : .9em;
  padding : 0;
  margin : 0;
  cursor : pointer;
}

input.checkbox:hover, input.checkbox.hover,
input.checkbox:focus, input.checkbox.focus {
}

input.text-short, 
input.text-med, 
input.text-long,
select.select,
textarea.textarea {
  font : 1em verdana, helvetica, palatino sans, tahoma, arial, sans-serif;
  background-color : #fffffe;
  cursor : text;
  padding : 1px 2px;
}

select.select {
  padding : 1px 0;
}

input.text-short {
  width : 100px;
}

input.text-med, select.select {
  width : 250px;
}

input.text-long {
  width : 300px;
}

textarea.textarea {
  width : 440px;
  height : 200px;
}

select.select, select.select option {
  cursor : pointer;
}

input.text-short:focus, input.text-short.focus, 
input.text-med:focus, input.text-med.focus,
input.text-long:focus, input.text-long.focus,
select.select:focus, input.select.focus,
textarea.textarea:focus, textarea.textarea.focus {
 
  background-color : #ffe;
}

input.button {
  margin-top : 8px;
  padding : 1px 10px;
  cursor : pointer;
  float : right;
  clear : both;
  color : black;
	font-size: 14px;
	font-weight: bold;
}

input.button:hover, input.button.hover,
input.button:focus, input.button.focus {
  color : #333;
}

#main p { margin-bottom: 1px; }

/* because IE6 sucks - if you have a conditionally served IE6 style sheet add this to it */
* html input.button {
  border : 1px solid #666;
}


/* EOF - Created by Mike Cherim @ http://green-beast.com =========== */



div#content {
	width: 980px; text-align:left;
	padding-top: 0px;
	padding-bottom: 10px;
	position: relative;
	right: 5px;
	bottom: 10px;
}

div#liner.topline {
	position: relative;
}
